In [3]:
# importing pandas and sql alchemy
import pandas as pd
from sqlalchemy import create_engine

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-win_amd64.whl (15.4 MB)
     --------------------------------------- 15.4/15.4 MB 46.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [22]:
# create connection to sql database
engine = create_engine('mysql+mysqlconnector://****************')
print(engine)

Engine(mysql+mysqlconnector://******:***@*******/********)

In [31]:
#read first table
df = pd.read_csv(r"C:\Users\*********************)

In [32]:
df

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,NaN,Cabanel,French,Classicist,1823,1889
2,502,James Ensor,James,NaN,Ensor,Belgian,Expressionist,1860,1949
3,503,Maximilien Luce,Maximilien,NaN,Luce,French,Pointillist,1858,1941
4,504,August Macke,August,NaN,Macke,German,Expressionist,1887,1914
...,...,...,...,...,...,...,...,...,...
416,916,Jean-Baptiste-Camille Corot,Jean,Baptiste Camille,Corot,French,Romantic,1796,1875
417,917,Jan Toorop,Jan,NaN,Toorop,Dutch,Symbolist,1858,1928
418,918,Rembrandt Peale,Rembrandt,NaN,Peale,American,Neoclassical,1778,1860
419,919,Edmund Charles Tarbell,Edmund,Charles,Tarbell,American,Impressionist,1862,1938
420,920,Rembrandt Van Rijn,Rembrandt,NaN,Van Rijn,Dutch,Baroque,1606,1669

In [28]:
# creating  list to loop through all of the stored tables 
files = ["artist", "canvas_size", "image_link", "museum_hours","museum", "product_size", "subject", "work"]

In [30]:
# reading the files and connecting them to MYsql
for file in files:
    df = pd.read_csv(fr"C:\Users\Tori\Downloads\archive (8)\{file}.csv")
    df.to_sql(file, con=engine, if_exists='replace', index=False)